<div class="root">
 
  <header>
    <nav-menu :active-index="activeIndex"></nav-menu>
  </header>
  <main>
    <el-dropdown trigger="click">
      <span class="el-dropdown-link">
        Comments list <i class="el-icon-arrow-down el-icon--right"></i>
      </span>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item
          v-for="item in commentsList"
          :key="item.id"
          :disabled="item.id === 4"
          :divided="item.id === 5">{{item.name}}</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
    <!---->
    <el-button
      size="medium"
      type="primary"
      @click="_testAxiosPlugin()">Get Content</el-button>
    <pre>{{testJSONPlaceholderContent}}</pre>
    
    <el-button type="warning" size="medium" @click="_testAxiosPlugin">Say Hello World</el-button>
  </main>
  
  
  
  
</div>
